@import "settings";

td {
word-break: keep-all;
-moz-hyphens: none;
-ms-hyphens: none;
-webkit-hyphens: none;
hyphens: none;
}

th.callout-inner {

  &.alert {
    background: scale-color($alert-color, $lightness: $callout-background-fade);
    border: none !important;
    color: $black !important;
  }
}