<container class="footer">
	<row class="footer">
		<columns small="1"></columns>
		<columns small="10" valign="middle">
			<p class="text-white text-center">Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.
				*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*</p>

			<p class="text-white text-center">Our mailing address is:<br>
				*|HTML:LIST_ADDRESS_HTML|* *|END:IF|*</p>

			<p class="text-white text-center">Want to change how you receive these emails?<br>
				You can update your <a href="*|UPDATE_PROFILE|*"></a>preferences or <a href="*|UNSUB|*"></a>unsubscribe from this list.</p>
		</columns>
		<columns small="1"></columns>
	</row>

</container>